<div class="container mt-0 mr-0 ml-0" style="padding: 0">
  <div class="btn-group" role="group" aria-label="Basic example">
    <a href="{% url "projects" %}" type="button" class="btn btn-custom {{nav.projects}}">Проекты</a>
    <a href="{% url "calendar" %}" type="button" class="btn btn-custom {{nav.calendar}}">Календарь</a>
    <a type="button" class="btn btn-custom {{nav.hant}}">Гант</a>
    <a type="button" class="btn btn-custom {{nav.employees}}">Сотрудники</a>
  </div>
  {% if user.is_authenticated %}
  <div class="btn-group" role="group" aria-label="Basic example">
  <a class="btn btn-custom">{{ user.first_name }} {{ user.last_name }}</a>
  </div>
  {% endif %}
  <div class="btn-group" role="group" aria-label="Basic example">
  {% if user.is_authenticated %}
  <form method="post" action="{% url 'logout' %}">
    {% csrf_token %}
    <button type="submit" class="btn btn-custom active">Выйти</button>
  </form>
  {% else %}
  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <button type="submit" class="btn btn-custom active">Войти</button>
  </form>
  {% endif %}
</div>


