@import "./reset.css";

body {
    margin: 0;
    padding: 0;
    overflow-y: scroll;
}

a{
    color: #000000;
}
.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/731f55b90a452f13e6b8983df1bd9860.jpeg');
    background-size: cover;
    z-index: -1;
}



.btn-custom {
    border-radius: 10px;
  }
  .btn-custom.active {
    background-color: #925537;
    color: white;
  }
  .btn-custom.active:hover {
    color: #505050;
  }
  .btn-custom:not(.active) {
    background-color: white;
    color: #50505095;
  }
  .btn-custom:not(.active):hover {
    color: #505050;
  }

  .btm-group{
    stroke: #000000;
  }


.container, .container-md, .container-sm {
    max-width: 1512px;
}

.btn-group{
    margin-left: 25px;
    margin-top: 25px;
}
.slide-content{
    padding: 0 !important;
    margin-bottom: 25px !important;
    margin-top: 25px !important;
    margin-left: 50px !important;
}

.slide-container{
    margin-left: 0px !important;
    max-width: 1512px;
    width: 100%;
    padding: 10px 30px;
    margin: 0 auto 50px;
}


.card{
    position: relative;
    width: 100%;
    max-width: 360px;
    display: flex;
    padding: 0 0 0 0;
    flex-direction: column;
    align-items: center;
    border-radius: 10px !important;
    border: 0 !important;
    background: #FFF;
    /* box-shadow: 0 0 20px 0 #CEEDFA; */
    align-self: stretch;
    margin-right: 50px;
}

.card.login{
    margin-left: 25px;
}

/* .card::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 55px;
    background: #5C4438;
    border-radius: 10px 10px 0 0;
} */

.card_title{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: left;
    border-radius: 1px;
    z-index: 100;
    color: #FFF;
    width: 100%;
    border-radius: 10px 10px 0 0;
    
}

.card_title.project{
    background: #5C4438;
}
.text_title{
    text-align: left;
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.time_title{
    font-size: 14px;
    margin-left: 20px;
    margin-right: 20px;
}

.card_content{
    margin-top: 12px;
    margin-right: 25px;
    margin-left: 20px;
    margin-bottom: 20px;
    font-size: 12px;
    z-index: 100;
}


.slider {
    min-height: 268px;
  }


  .slider {display: flex}
  .slider {
    overflow-x: auto;
  }
  .slider--content {
    margin: 25px;
    min-width: 360px;
    min-height: 268px;
  }
  .slider::-webkit-scrollbar {
    display: none;
  }


  .card.task{
    position: relative;
    width: 100%;
    max-width: 360px;
    display: flex;
    padding: 0 0 0 0;
    flex-direction: column;
    align-items: center;
    border-radius: 10px !important;
    border: 0 !important;
    background: #FFF;
    /* box-shadow: 0 0 20px 0 #CEEDFA; */
    align-self: stretch;
    margin-right: 50px;
    margin-top: 15px;
}


/* .card.task::before{
    background: #ffffff00;
} */

.card_title.task{
    color: #000;
}

.card_buttons{
    display: flex;
    margin-bottom: 10px;
    gap:8px;
    margin-left: 20px;
    align-self: start;
}

.card_content.task{
    margin-bottom: 10px;
}

a.card_button{
    color: #00000050 !important;
    font-size: 12px;
}

a.card_button.done{
    color: #925537 !important;
}

/* .card.subtasks::before{
    content: none;
    background: #fff;
} */

.card.subtasks{
    padding: 10px 20px 10px 20px;
    align-items: stretch;
}

.subtask_name{
    z-index: 100;
}

.circle {
    width: 15px;
    height: 15px;
    border-radius: 50%; /* Делаем границу блока округлой */
    background-color: #fff; /* Цвет фона блока */
    margin-top: 3px;
    border: 2px solid #925537;
}

.circle:hover{
    background-color: #925537;
}

.subtask{
    display: flex;
    gap: 5px;
    font-size: 14px;
    margin-bottom: 2px;
    border-bottom: 1px solid #5C443850;
}

.card.task.add{
    padding: 10px 0 10px 0; 
    background-color: #ffffff00;
}


.popover_btn {
    background: #ddd;
    font-weight: 800;
    border: 2px solid black;
  }
  
  .my-popover {
    background: #333;
    color: white;
    font-weight: 400;
    padding: 1rem;
    max-width: 200px;
    line-height: 1.4;
    top: 1rem;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  
.tooltip.tooltiptext{
width: 160px;
bottom:80%;
left:40%;
margin-left: 80px;
}

.tooltipleft{
    position: relative;
    display: inline-block;
    border-bottom: 2px dotted blue;
    }
    .tooltipleft .toolttextleft {
    visibility: hidden;
    width: 200px;
    height:50px;
    background-color:lightsalmon;
    color: black;
    text-align: center;
    border-radius: 4px;
    padding: 5px ;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    right: 130%;
    }
    .tooltipleft:hover .toolttextleft {
    visibility: visible;
    }

    .login-page {
        width: 360px;
        padding: 100 0 0;
        margin: auto;
      }
      .form {
        position: relative;
        z-index: 1;
        background: #FFFFFF;
        max-width: 360px;
        margin: 0 auto 100px;
        padding: 45px;
        text-align: center;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
      }
      .form input {
        font-family: "Roboto", sans-serif;
        outline: 0;
        background: #f2f2f2;
        width: 100%;
        border: 0;
        margin: 0 0 15px;
        padding: 15px;
        box-sizing: border-box;
        font-size: 14px;
      }
      .form button {
        font-family: "Roboto", sans-serif;
        text-transform: uppercase;
        outline: 0;
        background: #4CAF50;
        width: 100%;
        border: 0;
        padding: 15px;
        color: #FFFFFF;
        font-size: 14px;
        -webkit-transition: all 0.3 ease;
        transition: all 0.3 ease;
        cursor: pointer;
      }
      .form button:hover,.form button:active,.form button:focus {
        background: #43A047;
      }
      .form .message {
        margin: 15px 0 0;
        color: #b3b3b3;
        font-size: 12px;
      }
      .form .message a {
        color: #4CAF50;
        text-decoration: none;
      }
      .form .register-form {
        display: none;
      }
      .containereg {
        position: relative;
        z-index: 1;
        max-width: 300px;
        margin: 0 auto;
      }
      .containereg:before, .container:after {
        content: "";
        display: block;
        clear: both;
      }
      .containereg .info {
        margin: 50px auto;
        text-align: center;
      }
      .containereg .info h1 {
        margin: 0 0 15px;
        padding: 0;
        font-size: 36px;
        font-weight: 300;
        color: #1a1a1a;
      }
      .containereg .info span {
        color: #4d4d4d;
        font-size: 12px;
      }
      .containereg .info span a {
        color: #000000;
        text-decoration: none;
      }
      .containereg .info span .fa {
        color: #EF3B3A;
      }

      #mc_embed_signup { border: none; text-align: center; width: 100%; } /* Signup form container */

      .mc-field-group { display: inline-block; } /* positions input field horizontally */
      
      #mce-EMAIL { font-size: 1em; border: 1px solid #925537 ; color: #925537; background-color: #fff; padding: .7em 9em .7em 1em; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; display: inline-block; margin: 0; } /* Input Styles */
      
      .clear { display: inline-block; } /* positions button horizontally in line with input */
      
      .button { font-family: 'Helvetica Neue', Helvetica,  Arial, sans-serif; font-size: 1em; letter-spacing: .03em; color: #fff; background-color: #2386C8 ; padding: .7em 2em; border: 2px solid #2386C8 ; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; display: inline-block; margin: 0; } /* Button Styles */
      
      :-webkit-input-placeholder { color: #925537 ; } /* WebKit browsers */ 
      :-moz-placeholder { color: #925537 ; } /* Mozilla Firefox 4 to 18 */
      ::-moz-placeholder { color: #925537 ; } /* Mozilla Firefox 19+ */
      :-ms-input-placeholder { color: #925537 ; } /* Internet Explorer 10+ */
      
      @media (max-width: 768px) { /* positions input field and button underneath each other with 100% width for tablet and mobile */
        
      .mc-field-group { display: block; max-width: 100%; }
      #mce-EMAIL { padding: .7em 0 .7em 1em; width: 96%; margin: 0; }
      .clear { display: block; width: 100% }
      .button { width: 100%; margin: .5em 0 0 0; }
        
      }