{% extends "base.html" %} {% block content %}
<div class="container_cal">
  <div class="front">
    <div class="current-date">
      <h1>{{date.day}}</h1>
      <h1>{{date.day_num}} {{date.month}} {{date.year}}</h1>
    </div>

    <div class="current-month">
      <ul class="week-days">
        <li>MON</li>
        <li>TUE</li>
        <li>WED</li>
        <li>THU</li>
        <li>FRI</li>
        <li>SAT</li>
        <li>SUN</li>
      </ul>

      <div class="weeks">
        {% for cal_obj in calendar %}
        <div class="{{cal_obj.text}}">
          {% for date in cal_obj.week %} {% if date %}
          <span>{{date}}</span>
          {% else %}
          <span></span>
          {% endif %} {% endfor %}
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<div class="btn-group" role="group" aria-label="Basic example">
    {% if  date.1 > 1%}
    <a class="btn mr-3 btn-secondary" href="{% url "schedule" %}?year={{date.0}}&month={{date.1|add:-1}}">Предыдущий месяц</a>
    {% else %}
    <a class="btn mr-3 btn-secondary" href="{% url "schedule" %}?year={{date.0|add:-1}}&month={{12}}">Предыдущий месяц</a>
    {% endif %}
    
    <h3>{{date.1}}.{{date.0}}</h3>
    {% if  date.1 < 12%}
    <a class="btn ml-3 btn-secondary" href="{% url "schedule" %}?year={{date.0}}&month={{date.1|add:1}}">Следующий месяц</a>
    {% else %}
    <a class="btn ml-3 btn-secondary" href="{% url "schedule" %}?year={{date.0|add:1}}&month={{1}}">Следующий месяц</a>
    {% endif %}
</div>
{% endblock content %}
