{% extends "base.html" %} {% block content %}
<br>
<div class="btn-group" role="group" aria-label="Basic example">
  <a href="{% url "gantt" %}?lvl=projects" type="button" class="btn btn-custom {{b_s.projects}}">Проекты</a>
  <a href="{% url "gantt" %}?lvl=tasks" type="button" class="btn btn-custom {{b_s.tasks}}">Задачи</a>
</div>
<div class="btn-group" role="group" aria-label="Basic example">
  {% if  date_active.month > 1%}
  <a class="btn btn-custom active" href="{% url "gantt" %}?year={{date_active.year}}&month={{date_active.month|add:-1}}">Предыдущий месяц</a>
  {% else %}
  <a class="btn btn-custom active" href="{% url "gantt" %}?year={{date_active.year|add:-1}}&month={{12}}">Предыдущий месяц</a>
  {% endif %}
  <a class="btn btn-custom">{{date_active.month_name}} {{date_active.year}}</a>
  {% if  date_active.month < 12%}
  <a class="btn btn-custom active" href="{% url "gantt" %}?year={{date_active.year}}&month={{date_active.month|add:1}}">Следующий месяц</a>
  {% else %}
  <a class="btn btn-custom active" href="{% url "gantt" %}?year={{date_active.year|add:1}}&month={{1}}">Следующий месяц</a>
  {% endif %}
</div>
<section class="slider">
<div class="chart-wrapper">
    <ul class="chart-values">
      {% for name in c_n %}
      <li>{{name}}</li>
      {% endfor %}
    </ul>
    <ul class="chart-bars">
      {% for line in infos %}
      <li
        class="gantinf"
        data-tooltip="{{line.first_layer.hint}}"
        data-duration="{{line.first_layer.start_tag}}-{{line.first_layer.end_tag}}"
        data-color="{{line.color}}"
      >
        {{line.first_layer.title}}
      </li>
      {% for i in line.second_layer %}
      <li
        class="gantinf"
        data-tooltip="{{i.hint}}"
        data-duration="{{i.start_tag}}-{{i.end_tag}}"
        data-color="{{line.color}}"
      >
        {{i.title}}
      </li>
      {% endfor %}
      {% endfor %}
    </ul>
  </div>
</div>
</section>
  {% endblock content %} {% block scripts %}
  <script>
    function createChart(e) {
      const days = document.querySelectorAll(".chart-values li");
      const tasks = document.querySelectorAll(".chart-bars li");
      const daysArray = [...days];

      tasks.forEach((el) => {
        const duration = el.dataset.duration.split("-");
        const startDay = duration[0];
        const endDay = duration[1];
        let left = 0,
          width = 0;

        if (startDay.endsWith("½")) {
          const filteredArray = daysArray.filter(
            (day) => day.textContent == startDay.slice(0, -1)
          );
          left = filteredArray[0].offsetLeft + filteredArray[0].offsetWidth / 2;
        } else {
          const filteredArray = daysArray.filter(
            (day) => day.textContent == startDay
          );
          left = filteredArray[0].offsetLeft;
        }

        if (endDay.endsWith("½")) {
          const filteredArray = daysArray.filter(
            (day) => day.textContent == endDay.slice(0, -1)
          );
          width =
            filteredArray[0].offsetLeft +
            filteredArray[0].offsetWidth / 2 -
            left;
        } else {
          const filteredArray = daysArray.filter(
            (day) => day.textContent == endDay
          );
          width =
            filteredArray[0].offsetLeft + filteredArray[0].offsetWidth - left;
        }

        // apply css
        el.style.left = `${left}px`;
        el.style.width = `${width}px`;
        if (e.type == "load") {
          el.style.backgroundColor = el.dataset.color;
          el.style.opacity = 1;
        }
      });
    }

    window.addEventListener("load", createChart);
    window.addEventListener("resize", createChart);
  </script>
  {% endblock scripts %}

