{% extends "base.html" %} {% block content %}
<br>
<div class="btn-group" role="group" aria-label="Basic example">
  <a href="{% url "gantt" %}?lvl=projects" type="button" class="btn btn-custom {{b_s.lvl.projects}}">Проекты</a>
  <a href="{% url "gantt" %}?lvl=tasks" type="button" class="btn btn-custom {{b_s.lvl.tasks}}">Задачи</a>
  <a href="{% url "gantt" %}?lvl=subtasks" type="button" class="btn btn-custom {{b_s.lvl.subtasks}}">Подзадачи</a>
</div>
<div class="btn-group" role="group" aria-label="Basic example">
  <a href="{% url "gantt" %}?range=week" type="button" class="btn btn-custom {{b_s.range.week}}">Неделя</a>
  <a href="{% url "gantt" %}?range=month" type="button" class="btn btn-custom {{b_s.range.month}}">Месяц</a>
  <a href="{% url "gantt" %}?range=year" type="button" class="btn btn-custom {{b_s.range.year}}">Год</a>
</div>
<section class="slider">
<div class="chart-wrapper">
    <ul class="chart-values">
      <li>1</li>
      <li>2</li>
      <li>3</li>
      <li>4</li>
      <li>5</li>
      <li>6</li>
      <li>7</li>
    </ul>
    <ul class="chart-bars">
      <li
        class="gantinf"
        data-tooltip="Подсказка какая-то"
        data-duration="1½-3"
        data-color="#b03532"
      >
        Task
      </li>
      <li data-duration="3-6" data-color="{{h_l.0}}">Task</li>
      <li data-duration="1-4" data-color="{{h_l.1}}">Task</li>
      <li data-duration="1½-3" data-color="{{h_l.2}}">Task</li>
      <li data-duration="2-3½" data-color="{{h_l.3}}">Task</li>
      <li data-duration="1-3" data-color="{{h_l.4}}">Task</li>
      <li data-duration="6-7½" data-color="{{h_l.5}}">Task</li>
      <li data-duration="1½-7½" data-color="{{h_l.6}}">Task</li>
      <li data-duration="1-4" data-color="{{h_l.7}}">Task</li>
    </ul>
  </div>
</div>
</section>
  {% endblock content %} {% block scripts %}
  <script>
    function createChart(e) {
      const days = document.querySelectorAll(".chart-values li");
      const tasks = document.querySelectorAll(".chart-bars li");
      const daysArray = [...days];

      tasks.forEach((el) => {
        const duration = el.dataset.duration.split("-");
        const startDay = duration[0];
        const endDay = duration[1];
        let left = 0,
          width = 0;

        if (startDay.endsWith("½")) {
          const filteredArray = daysArray.filter(
            (day) => day.textContent == startDay.slice(0, -1)
          );
          left = filteredArray[0].offsetLeft + filteredArray[0].offsetWidth / 2;
        } else {
          const filteredArray = daysArray.filter(
            (day) => day.textContent == startDay
          );
          left = filteredArray[0].offsetLeft;
        }

        if (endDay.endsWith("½")) {
          const filteredArray = daysArray.filter(
            (day) => day.textContent == endDay.slice(0, -1)
          );
          width =
            filteredArray[0].offsetLeft +
            filteredArray[0].offsetWidth / 2 -
            left;
        } else {
          const filteredArray = daysArray.filter(
            (day) => day.textContent == endDay
          );
          width =
            filteredArray[0].offsetLeft + filteredArray[0].offsetWidth - left;
        }

        // apply css
        el.style.left = `${left}px`;
        el.style.width = `${width}px`;
        if (e.type == "load") {
          el.style.backgroundColor = el.dataset.color;
          el.style.opacity = 1;
        }
      });
    }

    window.addEventListener("load", createChart);
    window.addEventListener("resize", createChart);
  </script>
  {% endblock scripts %}

