{% extends "base.html" %} {% block content %} {% for a in appl %}
<div class="card mt-4 mr-4 ml-4" style="max-width: 100%; width: auto">
  <div class="row no-gutters d-flex align-items-center" style="width: 100%">
    <div class="col-md-1" style="color: #925537">
      <div class="card-body">
        <p class="card-text">#{{a.id}}</p>
      </div>
    </div>
    <div
      class="col-md-5"
      style="border-right: 1px solid; border-left: 1px solid"
    >
      <div class="card-body" style="">
        <p class="card-text">
          {% for p in a.positions.all %}{{p.position.title}} | {% endfor %}
        </p>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card-body">
        <p class="card-text">{{a.status}}</p>
      </div>
    </div>
    <div
      class="col-md-2"
      style="border-right: 1px solid; border-left: 1px solid"
    >
      <div class="card-body">
        <p class="card-text">{{a.purchase_topic.title}}</p>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card-body">
        <p class="card-text">
          {% if a.deadline %}{{a.deadline | date:"d.m.Y"}} {% else %}Не
          определен{% endif %}
        </p>
      </div>
    </div>
  </div>
</div>
{% endfor %} {% endblock content %}
