{% extends "base.html" %}

{% block add_to_head %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load('current', {'packages':['gantt'], 'language': 'ru'});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {

      var data = new google.visualization.DataTable();
      data.addColumn('string', 'Task ID');
      data.addColumn('string', 'Task Name');
      data.addColumn('string', 'Resource');
      data.addColumn('date', 'Start Date');
      data.addColumn('date', 'End Date');
      data.addColumn('number', 'Duration');
      data.addColumn('number', 'Percent Complete');
      data.addColumn('string', 'Dependencies');

      data.addRows([
        {% for i in gant %}
            ['{{i.0}}', '{{i.1}}', '{{i.2}}', new Date({{i.3.y}}, {{i.3.m}}, {{i.3.d}}), new Date({{i.4.y}}, {{i.4.m}}, {{i.4.d}}), null, {{i.5}}, null],
        {% endfor %}
      ]);

      var options = {
        legend:'left',
        height: {{gant_height|add:gant_height}},
        gantt: {
          criticalPathEnabled: false,
          trackHeight: 50,
          labelStyle: {
            fontSize: 20
          },
        },
        language: 'ru',
      };

      var chart = new google.visualization.Gantt(document.getElementById('chart_div'));

      chart.draw(data, options);
    }
  </script>
{% endblock add_to_head %}

{% block content %}
<div class="container mt-5">
    <div class="row mb-3">
        <div class="btn-group" role="group" aria-label="Basic example">
            {% if  date.1 > 1%}
            <a class="btn mr-3 btn-secondary" href="{% url "schedule" %}?year={{date.0}}&month={{date.1|add:-1}}">Предыдущий месяц</a>
            {% else %}
            <a class="btn mr-3 btn-secondary" href="{% url "schedule" %}?year={{date.0|add:-1}}&month={{12}}">Предыдущий месяц</a>
            {% endif %}
            
            <h3>{{date.1}}.{{date.0}}</h3>
            {% if  date.1 < 12%}
            <a class="btn ml-3 btn-secondary" href="{% url "schedule" %}?year={{date.0}}&month={{date.1|add:1}}">Следующий месяц</a>
            {% else %}
            <a class="btn ml-3 btn-secondary" href="{% url "schedule" %}?year={{date.0|add:1}}&month={{1}}">Следующий месяц</a>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <table class="table table-bordered">
        <thead>
            <tr>
                <th>Пн</th>
                <th>Вт</th>
                <th>Ср</th>
                <th>Чт</th>
                <th>Пт</th>
                <th>Сб</th>
                <th>Вс</th>
            </tr>
        </thead>
        <tbody>
            {% for w in calendar %}
            <tr>
                {% for d in w %}
                <td>
                <div class="container">
                    <div class="row">
                    <div class="col text-center">
                        <h3>{{d.0}}</h3>
                    </div>
                    </div>
                    {% if d %}
                    <div class="row mt-2">
                    <div class="col-md-4 text-center">
                        {% if d.1  %}
                        <div class="circle red"></div>
                        {% else %}
                        <div class="circle white"></div>
                        {% endif %}
                    </div>
                    <div class="col-md-4 text-center">
                        {% if d.2  %}
                        <div class="circle green"></div>
                        {% else %}
                        <div class="circle white"></div>
                        {% endif %}
                    </div>
                    <div class="col-md-4 text-center">
                        {% if d.3  %}
                        <div class="circle blue"></div>
                        {% else %}
                        <div class="circle white"></div>
                        {% endif %}
                    </div>
                    </div>
                    {% endif %}
                </div>
                </td>

                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
  </div>
  
  
<div class="container mt-5">
    <div class="dropdown mb-2">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
            {{lvl}}
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="{% url "schedule" %}?lvl=1">Проекты</a>
            <a class="dropdown-item" href="{% url "schedule" %}?lvl=2">Задачи</a>
            <a class="dropdown-item" href="{% url "schedule" %}?lvl=3">Подзадачи</a>
        </div>
    </div>
                  
    <div id="chart_div"></div>
</div>

{% endblock content %}

