{% extends "base.html" %} {% load static %} {% block content %}
<section class="slider">
  <div class="slider--content">
    <div class="card">
      <div class="card_title project">
        <div class="text_title">{{p.title}}</div>
        <div class="time_title">
          {{p.date_add | date:"d.m.Y"}} - {{p.deadline | date:"d.m.Y"}}
        </div>
      </div>
      <div class="card_content">{{p.description}}</div>
    </div>
  </div>
  <div class="slider--content">
    <div class="card">
      <div class="card_title project">
        <div class="text_title">{{p.title}}</div>
        <div class="time_title">
          {{p.date_add | date:"d.m.Y"}} - {{p.deadline | date:"d.m.Y"}}
        </div>
      </div>
      <div class="card_content">{{p.description}}</div>
    </div>
  </div>
  <div class="slider--content">
    <div class="card">
      <div class="card_title project">
        <div class="text_title">{{p.title}}</div>
        <div class="time_title">
          {{p.date_add | date:"d.m.Y"}} - {{p.deadline | date:"d.m.Y"}}
        </div>
      </div>
      <div class="card_content">{{p.description}}</div>
    </div>
  </div>
</section>
{% endblock content %}
