{% extends "base.html" %}
{% load static %}

{% block content %}
  <div class="container">
    <div class="row">

  {% for t in tasks %}
  {% if not t.is_done %}
  <div class="col-md-3 mt-5 mb-5">
      <div class="card mx-auto" style="width: 90%">
        <div class="card-body">
          <h5 class="card-title">{{t.title}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{t.deadline}}</h6>
          <p class="card-text">{{t.description}}</p>
          <a href="{% url "tasks" t.main_project_id.id%}?done={{t.id}}" class="card-link">Готово</a>
          <a href="{% url "subtasks" t.id%}" class="card-link">Чекпоинты</a>
        </div>
      </div>
    </div>
    {% endif %}
  {% endfor %}
  <div class="col-md-3 mt-5 mb-5">
    <div class="card text-center" style="width: 90%">
      <div class="card-body">
          <input type="image" src="{% static "img/free-icon-plus-2549959.png" %}" class="btn btn-primary" alt="Плюс" style="width: 50%" id="myBtn">
      </div>
    </div>
  </div>

  <div id="myModal" class="modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <span class="close">&times;</span>
        <form method="POST" class="">
          {% csrf_token %}
          <div class="modal-body">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="title">Название</label>
                <input type="text" class="form-control" id="title" name="title">
              </div>
              <div class="form-group col-md-6">
                <label for="date">Дедлайн</label>
                <input type="date" class="form-control" id="date" name="deadline">
              </div>
            </div>
            <div class="form-group">
              <label for="description">Описание</label>
              <textarea class="form-control" id="description" rows="3" name="description"></textarea>
            </div>
            <div class="form-group">
              <label for="users">Исполнитель</label>
              <select class="custom-select" multiple name="users" id="users">
                {% for u in users%}
                  <option value="{{u.id}}">{{u.name}}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Сохранить</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  {% endblock content %}
  