{% extends "base.html" %} {% block content %}
<br>
<form method="GET" class="mt-4 ml-4" action="{% url "warehouse" %}">
    <div class="form-row">
      <div class="form-group col-md-3">
        <input type="text" class="form-control" id="obj" name="obj" placeholder="Найти" value="{{find}}" list="options" autocomplete="off">
        <datalist id="options">
          {% for p in find_objs %}
            <option value="{{p.title}}">
          {% endfor %}
          </datalist>
      </div>
      <div class="form-group col-md-3">
      <button type="submit" class="btn btn-primary" style="background-color: #925537; border: 0px">Поиск</button>
      </div>
    </div>
</form> 

<div class="container ml-2">
  <div class="row">
    {% for p in positions %}
    {% if p.is_done %}
    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
      <div class="card mb-2">
          <div class="card_title project">
            <div class="text_title">{{p.title}}</div>
            <div class="time_title"><a href="{{p.link}}" style="color: #ffffff">что это?</a></div>
          </div>
          <div class="card_content {% if p.quantity < p.min_quantity %}zq{% endif %} " style="font-size: 1.2rem">
            {{p.quantity}} {{p.units}}
          </div>
          <div class="card_buttons mr-4" style="font-size: 1.2rem">
            <a
              class="card_button done"
              href="#"
              style="font-size: 1rem"
              onclick="takeAction({{p.id}})">взять</a>
              <input type="number" class="form-control" step="0.01" id="how_many_{{p.id}}" name="how_many" value="">
            <a class="card_button" style="font-size: 1rem"
            href="#"
              onclick="returnAction({{p.id}})"
              >вернуть</a>
          </div>
      </div>
    </div>
    {% endif %}
    {% endfor %}
  </div>
</div>
{% endblock content %}

{% block scripts %}
<script>
  function takeAction(id) {
      var count = document.getElementById("how_many_"+id).value;
      window.location.href = "{% url 'take' %}?take=" + id + "&count=" + count;
  }

  function returnAction(id) {
      var count = document.getElementById("how_many_"+id).value;
      window.location.href = "{% url 'take' %}?return=" + id + "&count=" + count;
  }
</script>
{% endblock scripts %}